<div class="main">
  <h3>Inicio de sesión</h3>
  <form action="/api/sessions/login" method="post">
    <label id="email">Email
      <input class="form-control" type="text" name="email" id="" required />
    </label><br />

    <label id="password">Contraseña
      <input class="form-control" type="password" name="password" /><br />
    </label>

    <input class="form-control" type="submit" value="Login" />
  </form>
  <hr />
  <button class="form-control"><a href="/forgot-password">¿Olvidaste la
      Contraseña?</a></button>
</div>