<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <link rel="stylesheet" href="./css/style.css" />
    <title>Backend II Proyect - FuwaFuwa Paradise 2.1</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img
              src="./images/icons/welcome.png"
              alt="Logo"
              width="30"
              height="24"
              class="d-inline-block align-text-top"
            />
          </a>
          {{! <Link to="/">FuwaFawa</Link> }}
          {{!  ---------- Desplegable de Productos ---------  }}
          {{! <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Productos
              </a>
              <ul class="dropdown-menu">
                <li>
                  <Link class="dropdown-item" to="/product1">
                    Sekiguchi Pokemon
                  </Link>
                </li>
                <li>
                  <Link class="dropdown-item" to="/product2">
                    Digimon Adventure: Plush
                  </Link>
                </li>
                <li>
                  <Link class="dropdown-item" to="/product3">
                    Digimon Adventure: Stuffed Collection
                  </Link>
                </li>
              </ul>
            </li>
          </ul> }}
          {{!  ---------- Modal ---------  }}
          <div
            class="modal fade"
            id="exampleModalToggle"
            aria-hidden="true"
            aria-labelledby="exampleModalToggleLabel"
            tabindex="-1"
          >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1
                    class="modal-title fs-5"
                    id="exampleModalToggleLabel"
                  >Ingrese el ID de su carrito</h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <input type="text" name="cid" id="cid" />
                </div>
                <div class="modal-footer">
                  <button
                    id="searchId"
                    class="btn btn-continue"
                    data-bs-target="#exampleModalToggle2"
                    data-bs-toggle="modal"
                  >Continuar</button>
                </div>
              </div>
            </div>
          </div>
          <div
            class="modal fade"
            id="exampleModalToggle2"
            aria-hidden="true"
            aria-labelledby="exampleModalToggleLabel2"
            tabindex="-1"
          >
            <div class="modal-dialog modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h1
                    class="modal-title fs-5"
                    id="exampleModalToggleLabel2"
                  >Productos en el Carrito</h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  Hide this modal and show the first with the button below.
                </div>
                <div class="modal-footer">
                  <button
                    class="btn btn-primary"
                    data-bs-target="#exampleModalToggle"
                    data-bs-toggle="modal"
                  >Volver</button>
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >Cerrar</button>
                </div>
              </div>
            </div>
          </div>
          {{!  ---------- Botón Carrito --------- }}
          <button
            class="btn btn-primary"
            data-bs-target="#exampleModalToggle"
            data-bs-toggle="modal"
          >Mi Carrito</button>
          {{!  ---------- Botón Registrarse --------- }}
          <button class="btn btn-primary"><a
              href="http://localhost:8080/register"
            >Registrarse</a></button>
          {{!  ---------- Botón Login --------- }}
          <button class="btn btn-primary"><a
              href="http://localhost:8080/login"
            >Iniciar sesión</a></button>
        </div>
      </nav>

    </header>
    {{{body}}}
    <footer>
      <div class="footer main">
        <div class="nav-footer">
          <ul>
            <li>
              <a href="#">Preguntas frecuentes</a>
            </li>
            <li>
              <a href="#">Cambios y devoluciones</a>
            </li>
            <li>
              <a href="#">Términos y condiciones</a>
            </li>
            <li>
              <a href="#">Botón de arrepentimiento</a>
            </li>
          </ul>
        </div>
        <div class="info-inf">
          <p class="info-inf-izq">
            FuwaFuwa Paradise © 2025 Todos los derechos reservados
          </p>
          <div class="contacto">
            <ul>
              <li>
                <img src="./images/icons/direccion.png" alt="icono direccion" />
                Azul, Buenos Aires, Argentina
              </li>
              <li>
                <img src="./images/icons/telefono.png" alt="icono telefono" />
                +549 2281 xx xxxx
              </li>
              <li>
                <img src="./images/icons/mail.png" alt="icono mail" />
                info.fuwa@asdf.com.ar
              </li>
            </ul>
          </div>
          <div class="info-inf-der">
            <ul>
              <li>
                <a href="https://www.facebook.com/" target="_blank">
                  <img src="./images/social/facebook.png" alt="Facebook" />
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/" target="_blank">
                  <img src="./images/social/instagram.png" alt="Instagram" />
                </a>
              </li>
              <li>
                <a href="https://x.com/?lang=es&mx=2" target="_blank">
                  <img src="./images/social/x.png" alt="X" />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="/public/scripts/main.cart.js"></script>
  </body>
</html>